:root {
  --black: rgba(0, 0, 0, 0.85);
  --shadow: rgba(0, 0, 0, 0.06);
  --white: #fff;
  --lightGrey: #d9d9d9;
  --grey1: #f5f5f5;
  --grey: #aba7b2;
  --darkGrey: #544f5e;
  --extraLightPurple: #ccc1e1;
  --lightPurple: #59369d;
  --linkPurple: #6f34e1;
  --darkPurple: #20133a;
  --textPrimary: #20133a;
}

body,
button {
  color: var(--textPrimary);
  font-family: "Helvetica Neue";
  font-size: 14px;
  line-height: 22px;
}

textarea,
input {
  border: 1px solid var(--lightGrey);
  border-radius: 2px;
  outline: none;
  font-family: inherit;
  padding: 8px;
  font-size: 14px;
  line-height: 20px;
}
textarea::placeholder,
input::placeholder {
  color: var(--grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 8px;
  margin-top: 0;
}

label {
  font-size: 12px;
  line-height: 18px;
  color: var(--darkGrey);
}

/* Screen */
.content-wrapper {
  margin: 8px;
}
.enter-key-screen .key-input {
  width: 100%;
}
.enter-key-screen h1 {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 8px;
  font-weight: 700;
  padding-top: 12px;
}
.enter-key-screen .description {
  color: var(--darkGrey);
  margin: 0;
  margin-bottom: 24px;
}
.enter-key-screen .bottom-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
.enter-key-screen .bottom-block .get-key-question {
  color: var(--linkPurple);
  cursor: pointer;
}
.get-key-guide-screen {
  padding-top: 12px;
}
.get-key-guide-screen .guide-list {
  padding-top: 16px;
}
.get-key-guide-screen .guide-list p {
  margin: 0;
  color: var(--textPrimary);
}

/* Button */
.btn {
  background-color: var(--lightPurple);
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-disabled {
  background-color: var(--extraLightPurple);
  cursor: not-allowed;
}
.btn-back {
  background: var(--white);
  border: none;
  display: flex;
  align-items: center;
  color: var(--linkPurple);
  padding-left: 0;
  cursor: pointer;
}
.btn-back svg {
  margin-right: 6px;
}

/* Tabs */
.tab-label-wrapper {
  margin: 8px 0;
  border-bottom: 1px solid var(--shadow);
}
.tab-label {
  display: inline-block;
  padding-top: 12px;
  padding-left: 0;
  padding-right: 0;
  margin-right: 32px;
  border: none;
  border-bottom: none;
  cursor: pointer;
  background-color: var(--white);
  margin-bottom: -1;
}
.tab-label:last-child {
  margin-right: 0;
}
.tab-label.selected {
  /* border-bottom: 2px solid var(--lightPurple); */
  color: var(--lightPurple);
}
.tab-label::after {
  content: "";
  display: block;
  background-color: var(--lightPurple);
  height: 2px;
  transform: scaleX(0);
}
.tab-label.selected::after {
  transform: scaleX(1);
  transition: transform 250ms ease-in-out;
  margin-top: 12px;
}

.block-content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 8px;
}
.item-box-wrapper {
  border: 1px solid var(--lightGrey);
  margin: 0 8px 8px 0;
  border-radius: 24px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  outline: none;
}
.item-box-wrapper p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
.item-box-wrapper:hover {
  border-color: var(--darkGrey);
  transition-duration: 300ms;
}

/* Block generate input */

.block-generate-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
  margin-top: 24px;
}
.block-generate-input {
  width: 100%;
  margin-right: 8px;
}

/* Select */
.item-box-dropdown-wrapper {
  display: flex;
  align-items: center;
  transition-duration: 100ms;
}
.item-box-dropdown-wrapper > p {
  margin: 0;
  margin-right: 4px;
}
.item-box-dropdown-wrapper.active {
  background-color: var(--grey1);
}
.item-box-dropdown-wrapper.active > svg {
  transform: rotate(180deg);
  transition-duration: 100ms;
}
.dropdown-content {
  position: absolute;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  min-width: max-content;
  padding: 4px 0;
  overflow-y: scroll;
  right: 0px;
  left: 0px;
  max-height: 150px;
}
.dropdown-option > p {
  margin: 0;
}
.dropdown-option:hover {
  background-color: var(--grey1);
  transition-duration: 300ms;
}
.dropdown-wrapper {
  position: relative;
}
.dropdown-option {
  padding: 5px 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
}

/* Loading Icon */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-indicator {
  width: 15px;
  height: 15px;
  border: 1.5px solid var(--white);
  border-top-color: var(--linkPurple);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
