h1 {
  color: red;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.block-content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item-box-wrapper {
  border: 1px solid #cecece;
  margin: 4px;
  border-radius: 8px;
  padding: 4px 4px;
  cursor: pointer;
}
.item-box-wrapper p {
  margin: 0;
}
.item-box-wrapper:hover {
  border-color: #757575;
}
